<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <title>Index Page</title>
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <!-- <div class="container"> -->
          <span class="title-bg">
              <h1 class="display-3">HomePro</h1>
              <p class="lead">Life. Inventoried.</p>
          </span>
        <!-- </div> -->
      </div>
    <div class="container">
            <nav>
                <button><a href="/new">New Item</a></button>
            </nav>
            <h1>This is the Items index page</h1>
        </section>
        
       <div id="card-container">
            <!--Bootstrap Code Snippet: https://hackerthemes.com/bootstrap-cheatsheet/#card-->
            <% for (let i=0; i < data.length; i++) { %>
            <div class="card">
                <img class="card-img-top" src="<%=data[i].img%>" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><%=data[i].name %></h4>
                    <p class="card-text">Purchase Price: <%=data[i].price %></p>
                    <p class="card-text desc">Description: <%=data[i].description %></p>
                    <a href="/<%=data[i].id %>" class="btn btn-primary">View <%=data[i].name %> </a>
                </div>
            </div>
            <% } %>
            <!--End Bootstrap Code Snippet-->
       </div>
    </div>


</body>

</html>